{% extends "base.html" %}

{% block content %}
<h2>Журнал работ</h2>
{% if current_user.is_authenticated%}
<div>
    <a href="/add_job" class="btn btn-warning">
        Добавить работу
    </a>
</div>
{% endif %}
{% for job in jobs %}
<h3>Работа # {{job.id }}</h3>
<div class="table_container">
    <table>
        <tr>
            <td class="title" width="400px">Название работы</td>
            <td class="title" width="150px">Лидер команды</td>
            <td class="title" width="100px">Продолжительность</td>
            <td class="title" width="200px">Команда</td>
            <td class="title" width="100px">Закончена</td>
        </tr>
        <tr>
            <td>{{ job.job.capitalize() }}</td>
            <td>{{ names[job.team_leader][0] }} {{ names[job.team_leader][1] }}</td>
            <td>{{ job.work_size }} часов</td>
            <td>{{ job.collaborators }}</td>
            {% if job.is_finished %}
            <td>ДА</td>
            {% else %}
            <td>НЕТ</td>
            {% endif %}
        </tr>
    </table>
    {% if current_user.is_authenticated and current_user.id == job.team_leader or current_user.id == 1 %}
    <div>
        <a href="/edit_job/{{ job.id }}" class="btn btn-warning">
            Изменить
        </a>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}